.skript1{
   display: flex;
   flex-direction: column;
   justify-content:flex-end;
   /* align-items: right; */
   background-color: black;
   padding: 70px;
   background-image: url(../assets/frame-10-1.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
}
.skript1t{
   width: 500px;
   color: white;
}
.skript1-t{
   /* margin-left: 250px;
   margin-right: 250px;
   margin-bottom: 100px; */
   color: white;

}
