.container-imageyla {
   border-radius: 160px;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 49px;
   width: 50px;
   padding: 0px;
   margin: 0px 10px 0px 20px; 
   background-color: aliceblue;
  }

  .profileyla {
   height: 40px;
   border-radius: 130px;
   padding-left: 2px;
  
  } 
  .ankaa{
   color: rgb(229, 229, 243);
}
.css-1hc7nu0-MuiPaper-root-MuiAppBar-root{
   background-color: rgba(51, 6, 6, 0.432) !important;
}